body{
    background-size: cover;
}
.heading{
    font-size: 25px;
    width: 100%;
}
.note{
    color: black;
    font-size: 18;
}
canvas{
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
}